name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest 

    steps:
    - uses: actions/checkout@v4 

    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Nainstaluj Node moduly
      run: npm ci

    - name: Nainstaluj prohlížeče Playwright
      run: npx playwright install --with-deps 

    - name: Vytvoř složku pro Auth soubory
      run: mkdir -p playwright/.auth 

    - name: Spusť Setup (Vygeneruj vstupenky)

      run: npx playwright test --project=setup-saucedemo --project=setup-demoqa

    - name: Spusť UI a API testy

      run: npx playwright test --project=chromium-ui-saucedemo --project=chromium-ui-demoqa --project=chromium-api

    - uses: actions/upload-artifact@v4
      if: ${{ always() }} 
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30